<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>54731D1A-08BD-4506-9BCF-A8F88A64176C</key>
		<array/>
		<key>C0599899-ADDA-4673-96A5-3A353EF86396</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>54731D1A-08BD-4506-9BCF-A8F88A64176C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>MRP</string>
	<key>description</key>
	<string>Move apps on exact spaces</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>workflow: automated</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>#!/bin/bash

# Function to wait for an app to launch and get its window ID using the query name
waitForApp() {
    local queryName="$1" # Use queryName to match the app name in yabai's window query
    local windowId
    while true; do
        # Try to get the window ID of the app using the query name
        windowId=$(yabai -m query --windows | jq -re ".[] | select(.app==\"$queryName\") | .id" | head -n 1)
        if [[ -n $windowId ]]; then
            # Output the window ID, which will be captured by the caller
            echo $windowId
            return # Exit the function after finding the window ID
        fi
        sleep 0.5
    done
}

# Function to open an app and move its window to a specific space.
# It now accepts an appName for opening the app, and optionally, a queryName for querying the window.
# If queryName is not provided, appName is used for querying.
openAppAndMove() {
    local appName="$1"
    local queryName="${2:-$1}" # If queryName is not provided, fall back to appName
    echo "$queryName"

    local spaceNumber="$3"
    open -a "$appName"
    # Capture the window ID from waitForApp using the query name or appName if queryName is not provided
    local windowId=$(waitForApp "$queryName")
    # Now, with the correct window ID, move the window
    yabai -m window "$windowId" --space "$spaceNumber"
    echo "$appName launched and moved to space $spaceNumber."
}

# Function to open URLs in Chrome. It now accepts an array of URLs as an argument.
openUrlsInChrome() {
    local urls=("$@") # Accept an array of URLs as argument
    for url in "${urls[@]}"; do
        open -a "Google Chrome" "$url"
    done
}

# Example usage:

# Open iTerm and move it to desktop 1. We need to specify "iTerm2" as the query name explicitly.
# openAppAndMove "iTerm" "iTerm2" 1
openAppAndMove "Warp" "" 1
openAppAndMove "Reminders" "" 3
openAppAndMove "Symlex" "" 4 1

openAppAndMove "Google Chrome" "" 5

# Open Urls in Chrome
urls=(
    "https://pahe.ink/"
    "https://psa.wf/"
    "https://mlwbd.st/genre/bollywood-hindi/"
    "https://www.facebook.com/messages/t/"
    "https://www.linkedin.com/"
    "https://news.ycombinator.com/"
    "https://youtube.com/"
)
openUrlsInChrome "${urls[@]}"

openAppAndMove "Visual Studio Code" "Code" 6
openAppAndMove "Notion" "" 7</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>54731D1A-08BD-4506-9BCF-A8F88A64176C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>W</string>
				<key>subtext</key>
				<string>Iterm2, Activity Indicator, Google Chrome, VS Code, Notion</string>
				<key>text</key>
				<string>Apps on exact spaces</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C0599899-ADDA-4673-96A5-3A353EF86396</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>54731D1A-08BD-4506-9BCF-A8F88A64176C</key>
		<dict>
			<key>xpos</key>
			<real>205</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>C0599899-ADDA-4673-96A5-3A353EF86396</key>
		<dict>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
